
/* Button animate */

@keyframes button{
    0%{
     box-shadow: 0 0 12px hsl(158, 98%,43%);
    }
   
    50%{
     box-shadow: 0 0 24px hsl(158, 98%,43%);
    }
   
   
   
   }
   
   
   /*=============== BUTTON ===============*/
   
   .button{
     display: inline-block;
     background-color: var(--first-color);
     color: var(--white-color);
     padding: 1rem 2rem;
     border-radius: .25rem;
     font-size: var(--normal-font-size);
     transition: .3s;
   
   }
   
   .button:hover{
     background-color: var(--first-color-alt);
   
   }


   